/* color hover on temp */
#current {
  color: white;
}
#current span {
  color: #3eb9e6;
}

#current span:hover {
  color: white;
}
#current:hover {
  color: #3eb9e6;
}

.container {
  box-shadow: 0 0 50px #202020;
  margin: 10px auto;
  width: 330px;
  text-align: center;
  padding: 5px 40px 15px 40px;
  border-radius: 20px;
}

.temprature {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* search btn*/
.search-btn {
  width: 15%;
  cursor: pointer;
  position: relative;
}
.search-btn::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #3eb9e6;
  transition: transform 200ms ease-in-out;

  transform: scaleX(0);
}

.search-btn:hover::before,
.search-btn:focus::before {
  transform: scaleX(1);
}

.showcase h1 {
  margin: 40px 0 0 0;
}
.showcase p {
  font-size: 22px;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.temp h1 {
  margin: 20px 0;
  transition: color 1s ease-out;
  cursor: pointer;
}

.temprature #temp-sign,
.temp h2 {
  color: #3eb9e6;
}

.max-min {
  font-size: larger;
}
.max,
.min {
  display: flex;
  align-items: center;
  justify-content: center;
}
.max p,
sup,
.min p,
sup {
  margin: 0;
}

/* .temp #current {
  transition: color 1s ease-out;
  cursor: pointer;
  font-size: 120px;
}
.temp #tempSpan {
  transition: color 0.5s ease-out;
} */
